<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet-minimap/Control.MiniMap.min.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
</head>
<body>
    <div id="header" class="container-fluid">
        <div class="row align-items-center justify-content-between"> 
            <div class="col-5"><p class="display-4">< how's the mood ></p></div>
            
            <div class="col-7">
               <form class="form-inline justify-content-center" role="form">
                  <label class="sr-only" for="inlineFormInput">accuracy</label>
                  <button id="search-tweet" type="button" class="btn btn-secondary">search tweet</button>
                  <select id="search-accuracy" data-toggle="tooltip" data-placement="bottom" title="tweet accuracy" class="custom-select" id="inlineFormCustomSelect">
                        <option value="0" selected="selected">city</option>
                        <option value="0.8">gps</option>
                  </select>
                  <label class="sr-only" for="inlineFormInput">search</label>
                  <input id="search-tweet-input" type="text" class="form-control" placeholder="Search for...">
                  <button id="info" type="button"  class="btn btn-primary" data-trigger="focus" data-toggle="popover" title="" data-content="">details</button>
                  
                  <label class="sr-only" for="inlineFormInput">actions</label>
                  <div class="btn-group ml-5" role="group">
                      <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp">help</button>
                      <button id="reset" type="button" class="btn btn-outline-danger">reset</button>
                  </div>
                </form>
                        
                    
                </div>
            </div>
            
        </div>
    </div>
    <div class="collapse" id="collapseHelp">
        <div class="card card-block m-3 pt-2 pl-3">
            <h4>How does it works ?</h4>
            <p>Search for keywords and see (try "christmas" or "trump" for example). Each point is a tweet, each tweet is ranked as positive or negative. <a href="http://comp.social.gatech.edu/papers/icwsm14.vader.hutto.pdf">VADER</a> is an algorithm that computes the sentiment expressed in a sentence (positive, neutral, negative). Each category is a number between 0 and 1 (1 being the maximum intensity). When doing a search keep in mind that the keywords you use have a polarity themselves. It is without surprises that searching for "hate" will return a majority of negative results (pay attention to the positive tweets in that case!). Choosing the scope 'gps' option will only show precisely geolocated tweets; when using 'city' scope, the tweet was indeed posted within the city boundary but the point accuracy is not guaranteed.</p>
        </div>
    </div>
    <div id="mapid" class="container-fluid">
    
    </div>
    <div id="footer" class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <p></p>
                <p><small class="text-muted">a tribute to all the beautiful data in the world - made by <a href="https://github.com/DavidLacroix/sentimentmap">David Lacroix</a></small></p>
            </div>
        </div>
        
    </div>
    
    
    <script src="{{url_for('static', filename='plotly-latest.min.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet-minimap/Control.MiniMap.min.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet-heat/leaflet-heat.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="{{url_for('static', filename='map.js')}}"></script>
</body>
</html>